.row.topic-reply
  .columns.show-for-large-up.medium-2.large-1.topic-user
    - if resource.user.present?
      = link_to "#", class: "th" do
        = user_image_tag(current_user, {width: 60, height: 60})
  .columns.large-11.topic-content
    .topic-meta.clearfix
      - if resource.user.present?
        .left
          .show-for-large-up
            = link_to resource.user.name, "#"
          .hide-for-large-only
            = link_to "#" do
              = user_image_tag(current_user, {width: 18, height: 18})
              = resource.user.name
      .right
        23 hours ago
    %p
      = raw(resource.body)
