- content_for :content do
  .row
    .content-wrap.columns.medium-10.large-10
      .panel
        %dl.tabs
          %select.forum-tag-select.right{onchange: "this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);"}
            %option{selected: ("selected" unless @tag.present?)} All Categories
            = @categories.each do |category|
              %option{value: "/discuss/topics/tagged/#{category.name}", selected: ("selected" if @tag.present? && @tag == category.name)}= category.name.titleize
          %dd{ class: ("active" unless params[:order_by] == 'top') }
            = link_to "Latest", "/discuss/latest"
          %dd{ class: ("active" if params[:order_by] == 'top') }
            = link_to "Top", "/discuss/top"
        .content
          %table.borderless.forum-table
            %thead
              %tr
                %th Topic
                %th.text-center Replies
                / %th{:colspan => "3"}
            %tbody
              - @topics.each do |topic|
                %tr
                  %td
                    .topic-tags.right
                      - topic.tags.each do |tag|
                        = link_to tag.name, "/discuss/topics/tagged/#{tag}", class: "label secondary"
                    .topic-title
                      = link_to topic.title, topic
                    .topic-meta
                      - if topic.user.present?
                        Posted by
                        = link_to topic.user.nickname, main_app.user_path(topic.user)
                  %td.text-center
                    = topic.comments.count
                  / %td= link_to 'Show', topic
                  / %td= link_to 'Edit', edit_topic_path(topic)
                  / %td= link_to 'Destroy', topic, method: :delete, data: { confirm: 'Are you sure?' }
          = paginate @topics, :param_name => :page
          = link_to "Create New Topic", new_topic_path, class: "button success"


    - desktop_only do
      .sidebar-wrap.columns.show-for-medium-up.medium-2.large-2
        .ad-widget.tower-ad
          = image_tag "http://placehold.it/160x600"


= link_to 'New Topic', new_topic_path, class: "button"
