- content_for :content do
  .row.topic
    .content-wrap.columns
      - if current_user && can?(:manage, @topic)
        .dropdown-link.right
          = link_to 'Mod', "#", class: "button tiny alert", style: "margin: 0;"
          %ul.dropdown-menu
            - if @topic.closed?
              %li= link_to 'Open Topic', topic_open_path(@topic), method: :post, :'data-confirm' => "Are you sure you want to re-open this topic?"
            - else
              %li= link_to 'Close Topic', topic_close_path(@topic), method: :post, :'data-confirm' => "Are you sure you want to close this topic?"
            - if @topic.expired?
              %li= link_to 'Unexpire Topic', topic_unexpire_path(@topic), method: :post, :'data-confirm' => "Are you sure you want to re-open this topic?"
      %ul.breadcrumbs.topic-breadcrumbs
        %li
          = link_to "Forums", topics_path
        %li.current
          = link_to @topic.title, @topic
      .topic-title
        .topic-tags.right
          %div Posted in:
          - @topic.tags.each do |tag|
            = link_to tag.name, "#", class: "label secondary"
        %h3= @topic.title
      %ul.no-bullet.topic-replies
        %li.parent
          = render partial: "reply", locals: {resource: @topic}
        - @topic.comments.each do |comment|
          %li
            = render partial: "reply", locals: {resource: comment}

      .reply-form.panel
        .content
          .row
            - if @topic.expired? || @topic.closed?
              .columns.show-for-large-up.medium-2.large-1
              .columns.large-11
                %h5 Topic Closed
                %p This topic has been closed and replies are no longer permitted.
            - else
              .columns.show-for-large-up.medium-2.large-1
                - if current_user.present?
                  = link_to "#", class: "user-image th trackEvent", data: {name: "Clicked Profile Pic in nav bar"} do
                    = user_image_tag(current_user, {width: 60, height: 60})
              .columns.large-11
                - if current_user.present?
                  %h5
                    Reply as
                    = current_user.name
                  = render partial: "reply_form", locals: {topic: @topic}
                - else
                  %h5 Post a Reply
                  %p Sign in to post a reply.


- set_page_meta(@title, @title, @keywords)
= link_to 'New Topic', new_topic_path, class: "button"
