- content_for :content do
  .row.topic
    .content-wrap.columns.medium-10.large-10
      %ul.breadcrumbs.topic-breadcrumbs
        %li
          = link_to "Forums", topics_path
        %li.current
          = link_to @topic.title, @topic
      .topic-title
        .topic-tags.right
          %div Posted in:
          - @topic.tags.each do |tag|
            = link_to tag.name, "#", class: "label secondary"
        %h3= @topic.title
      %ul.no-bullet.topic-replies
        %li.parent
          = render partial: "reply", locals: {resource: @topic} 
        - @topic.comments.each do |comment|
          %li
            = render partial: "reply", locals: {resource: comment} 

      .reply-form.panel
        .content
          .row
            .columns.show-for-large-up.medium-2.large-1
              - if current_user.present?
                = link_to "#", class: "user-image th trackEvent", data: {name: "Clicked Profile Pic in nav bar"} do
                  = user_image_tag(current_user, {width: 60, height: 60})
            .columns.large-11
              - if current_user.present?
                %h5
                  Reply as
                  = current_user.name
                = form_for [@topic, @new_comment] do |f|
                  = f.text_area :body
                  = f.hidden_field :topic_id, value: @topic.id
                  = f.submit "Post Comment", class: "button small primary"
              - else
                %h5 Post a Reply
                %p Sign in to post a reply.

    - desktop_only do
      .sidebar-wrap.columns.show-for-medium-up.medium-2.large-2
        .ad-widget.tower-ad
          = image_tag "http://placehold.it/160x600"


= link_to 'New Topic', new_topic_path, class: "button"
